# K-Nearest Neighbors (KNN)

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("age income.xlsx")

In [3]:
df.head()

   age  income
0   21      60
1   20      55
2   22      60
3   22      61
4   23      65

In [4]:
from sklearn.neighbors import KNeighborsRegressor

In [5]:
reg =KNeighborsRegressor(n_neighbors=3)

In [6]:
reg.fit(df[['age']] , df[['income']]) #training

KNeighborsRegressor(n_neighbors=3)

In [7]:
print(reg.predict([[22]]))

[[60.33333333]]

C:\Users\mehdi.mahmud\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [8]:
df['predicted_income_knn'] = reg.predict(df[['age']])

In [9]:
df.head()

   age  income  predicted_income_knn
0   21      60             59.000000
1   20      55             59.000000
2   22      60             60.333333
3   22      61             60.333333
4   23      65             62.000000

In [10]:
df['residiuls'] = df['income'] - df['predicted_income_knn']

In [11]:
df.head()

   age  income  predicted_income_knn  residiuls
0   21      60             59.000000   1.000000
1   20      55             59.000000  -4.000000
2   22      60             60.333333  -0.333333
3   22      61             60.333333   0.666667
4   23      65             62.000000   3.000000

In [12]:
#mse
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df['income'], df['predicted_income_knn'])

In [13]:
mse

4.876543209876539

In [14]:
#mae
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(df['income'], df['predicted_income_knn'])

In [15]:
mae

1.8148148148148135

# Linear Regression

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
regg = LinearRegression()

In [18]:
regg.fit(df[['age']] , df[['income']]) #training

LinearRegression()

In [19]:
print(regg.predict([[22]]))

[[60.97068966]]

C:\Users\mehdi.mahmud\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [20]:
df['predicted_income_linear'] = regg.predict(df[['age']])

In [21]:
df.head()

   age  income  predicted_income_knn  residiuls  predicted_income_linear
0   21      60             59.000000   1.000000                59.955172
1   20      55             59.000000  -4.000000                58.939655
2   22      60             60.333333  -0.333333                60.970690
3   22      61             60.333333   0.666667                60.970690
4   23      65             62.000000   3.000000                61.986207

In [22]:
df

   age  income  predicted_income_knn  residiuls  predicted_income_linear
0   21      60             59.000000   1.000000                59.955172
1   20      55             59.000000  -4.000000                58.939655
2   22      60             60.333333  -0.333333                60.970690
3   22      61             60.333333   0.666667                60.970690
4   23      65             62.000000   3.000000                61.986207
5   21      62             59.000000   3.000000                59.955172
6   25      65             63.333333   1.666667                64.017241
7   30      70             67.666667   2.333333                69.094828
8   31      68             67.666667   0.333333                70.110345

In [23]:
#mse
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df['income'], df['predicted_income_linear'])

In [24]:
mse

3.996551724137931

In [25]:
#mae
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(df['income'], df['predicted_income_linear'])

In [26]:
mae

1.5601532567049843

In [27]:
df

   age  income  predicted_income_knn  residiuls  predicted_income_linear
0   21      60             59.000000   1.000000                59.955172
1   20      55             59.000000  -4.000000                58.939655
2   22      60             60.333333  -0.333333                60.970690
3   22      61             60.333333   0.666667                60.970690
4   23      65             62.000000   3.000000                61.986207
5   21      62             59.000000   3.000000                59.955172
6   25      65             63.333333   1.666667                64.017241
7   30      70             67.666667   2.333333                69.094828
8   31      68             67.666667   0.333333                70.110345